<!DOCTYPE HTML>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en-gb" class="no-js"> <!--<![endif]-->
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
</head>
<body>
	<!--wrapper starts-->
    <div class="wrapper">
        <!--header starts-->
        <!--header ends-->
        <!--main starts-->
        <div id="main">
        	<!--breadcrumb-section starts-->
            <div class="breadcrumb-section">
            	<div class="container">
                	<h1>Our Services</h1>
                    <div class="breadcrumb">
                        <a href="@Url.Action("Index", "Home")">Home ></a>
                      @*  <span class="fa fa-angle-double-right"></span>*@
                        <span class="current">Our Services</span>
                    </div>
                </div>
            </div>
            <!--breadcrumb-section ends-->
            <!--container starts-->
            <div class="container">
            	<!--primary starts-->
            	<section id="primary" class="content-full-width">
                
                	@*<div class="column dt-sc-one-third first">
                        <div class="dt-sc-ico-content type3">
                            <div class="icon"> 
                            	<span class="fa fa-cog"> </span> 
                            </div>
                            <h4><a href="our-staffs.html#" target="_blank"> Creative Writing </a></h4>
                            <p>Nunc at pretium est curabitur commodo leac est venenatis egestas sed aliquet auguevelit. Curabitur vulputate, ligula lacinia scelerisque</p>
                        </div>
                    </div>
                    *@
                    @*<div class="column dt-sc-one-third">
                        <div class="dt-sc-ico-content type3">
                            <div class="icon"> 
                            	<span class="fa fa-sun-o"> </span> 
                            </div>
                            <h4><a href="our-staffs.html#" target="_blank"> Outdoor Play </a></h4>
                            <p>Nunc at pretium est curabitur commodo leac est venenatis egestas sed aliquet auguevelit. Curabitur vulputate, ligula lacinia scelerisque</p>
                        </div>
                    </div>
                    *@
                    @*<div class="column dt-sc-one-third">
                        <div class="dt-sc-ico-content type3">
                            <div class="icon"> 
                            	<span class="fa fa-smile-o"> </span> 
                            </div>
                            <h4><a href="our-staffs.html#" target="_blank"> Group Activity </a></h4>
                            <p>Nunc at pretium est curabitur commodo leac est venenatis egestas sed aliquet auguevelit. Curabitur vulputate, ligula lacinia scelerisque</p>
                        </div>
                    </div>
                    *@
                   @* <div class="dt-sc-hr"></div>*@
                    
                    <h2 class="dt-sc-hr-green-title"> Activities for Children </h2>
                    
                    <div class="column dt-sc-one-fourth first">
                    	<div class="activity box1">
                            <a href="@Url.Action("English", "English")"><h4> English Learning </h4></a>
                        	
                            <img src="~/Images/x.png" alt="" title="">
                            <p>.. ... ......... ......... ....... ....... ....... ....... ..... .......... ... ....... ........ ....... ........</p>
                        </div>
                    </div>
                    
                    <div class="column dt-sc-one-fourth">
                    	<div class="activity box2">
                        	 <a href="@Url.Action("Arts", "Arts")"><h4> Arts &amp; Craft </h4></a>
                            <img src="~/Images/g.jpg" alt="" title="">
                            <p>....... ..... ...... ..... ..... .... ..... ..... ........ .......... ......... ...... ...... ............ ......</p>

                    	</div>
                    </div>
                    
                    <div class="column dt-sc-one-fourth">
                    	<div class="activity box3">
                        	 <a href="@Url.Action("Maths", "Maths")"><h4> Maths Learning </h4></a>
                            <img src="~/Images/z.jpg" alt="" title="">
                            <p>........  . . ...... ...... ....... .... ..... .... .... ..... .... .... ... .... ...... ....... ....... ...... .......</p>

                    	</div>
                    </div>
                    
                    <div class="column dt-sc-one-fourth">
                    	<div class="activity box4">
                        	 <a href="@Url.Action("G_K", "G_K")"><h4> General Knowledge </h4></a>
                            <img src="~/Images/c.png" alt="" title="">
                            <p>.......... ............ .......... .......... ........ ........... ....... .... ..... .... .... .... .. . . . .....</p>
                             
                    	</div>
                    </div>
                    
                    <div class="dt-sc-hr"></div>
                    
                    @*<div class="column dt-sc-one-half first">
                    	<h2>School Experience</h2>
                        <p>Praesent pulvinar massa nec augue malsuada in aliquam odio interdum. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante <a href="our-staffs.html#" class="highlighter">malesuada</a> arca Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus. Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus.</p>
                        <ul class="dt-sc-fancy-list thumbs-down">
                            <li>Lorem ipsum dolor sit euismod diam pulvinar massa nec augue</li>
                            <li>Praesent convallis nibh ollicitudin sit amet massa nec augue</li>
                            <li>Nullam ac sapien sit ac malesuada arca in aliquam odio inter</li>
                            <li>Phasellus auctor augue adipiscing lobortis ligula lacinia sceler estas</li>
                        </ul>
                    </div>*@
                    
                    <!--dt-sc-one-half starts-->
                    @*<div class="column dt-sc-one-half">                  
                        <div class="dt-sc-tabs-container">
                            <ul class="dt-sc-tabs">
                                <li><a href="our-staffs.html#" class="current"> Tab 1 </a></li> 
                                <li><a href="our-staffs.html#"> Tab 2 </a></li>
                                <li><a href="our-staffs.html#"> Tab 3 </a></li>
                            </ul>
                            <div class="dt-sc-tabs-content">
                                Tab 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet
                                <ul class="dt-sc-fancy-list mustard smile">
                                    <li>Lorem ipsum dolor sit</li>
                                    <li>Praesent convallis nibh</li>
                                    <li>Nullam ac sapien sit</li>
                                    <li>Phasellus auctor augue</li>
                                </ul>
                            </div>
                            <div class="dt-sc-tabs-content">
                                Tab 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet
                                <ul class="dt-sc-fancy-list burnt-orange music">
                                    <li>Lorem ipsum dolor sit</li>
                                    <li>Praesent convallis nibh</li>
                                    <li>Nullam ac sapien sit</li>
                                    <li>Phasellus auctor augue</li>
                                </ul>
                            </div>
                            <div class="dt-sc-tabs-content">
                                Tab 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet
                                <ul class="dt-sc-fancy-list pink star">
                                    <li>Lorem ipsum dolor sit</li>
                                    <li>Praesent convallis nibh</li>
                                    <li>Nullam ac sapien sit</li>
                                    <li>Phasellus auctor augue</li>
                                </ul>
                            </div>
                        </div>
                    </div> *@
                    <!--dt-sc-one-half ends-->
                    
                    <div class="dt-sc-hr"></div>
                    
                    @*<h2 class="dt-sc-hr-green-title">Our Teachers</h2>
                    <div class="column dt-sc-one-fourth first">
                        <div class="dt-sc-team">	
                            <div class="image">
                                <img class="item-mask" src="~/Images/mask.png" alt="" title="">
                                <img src="~/Images/team1.jpg" alt="" title="">
                                <div class="dt-sc-image-overlay">
                                	<a href="our-staffs.html#" class="link"><span class="fa fa-facebook"></span></a>
                                    <a href="our-staffs.html#" class="zoom"><span class="fa fa-twitter"></span></a>
                                </div>
                            </div>
                            <div class="team-details">
                                <h4> Jack Daniels </h4>
                                <h6> Senior Supervisor </h6>
                                <p> Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus. </p>
                            </div>
                        </div>
                    </div>
                    <div class="column dt-sc-one-fourth">
                        <div class="dt-sc-team">	
                            <div class="image">
                                <img class="item-mask" src="~/Images/mask.png" alt="" title="">
                                <img src="~/Images/team2.jpg" alt="" title="">
                                <div class="dt-sc-image-overlay">
                                	<a href="our-staffs.html#" class="link"><span class="fa fa-facebook"></span></a>
                                    <a href="our-staffs.html#" class="zoom"><span class="fa fa-twitter"></span></a>
                                </div>
                            </div>
                            <div class="team-details">
                                <h4> Linda Glendell </h4>
                                <h6> Teaching Professor </h6>
                                <p> Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus. </p>
                            </div>
                        </div>
                    </div>
                    <div class="column dt-sc-one-fourth">
                        <div class="dt-sc-team">	
                            <div class="image">
                                <img class="item-mask" src="~/Images/mask.png" alt="" title="">
                                <img src="~/Images/team3.jpg" alt="" title="">
                                <div class="dt-sc-image-overlay">
                                	<a href="our-staffs.html#" class="link"><span class="fa fa-facebook"></span></a>
                                    <a href="our-staffs.html#" class="zoom"><span class="fa fa-twitter"></span></a>
                                </div>
                            </div>
                            <div class="team-details">
                                <h4> Kate Dennings </h4>
                                <h6> Children Diet </h6>
                                <p> Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus. </p>
                            </div>
                        </div>
                    </div>
                    <div class="column dt-sc-one-fourth">
                        <div class="dt-sc-team">	
                            <div class="image">
                                <img class="item-mask" src="mask.png" alt="" title="">
                                <img src="~/Images/team4.jpg" alt="" title="">
                                <div class="dt-sc-image-overlay">
                                	<a href="our-staffs.html#" class="link"><span class="fa fa-facebook"></span></a>
                                    <a href="our-staffs.html#" class="zoom"><span class="fa fa-twitter"></span></a>
                                </div>
                            </div>
                            <div class="team-details">
                                <h4> Kristof Slinghot </h4>
                                <h6> Management </h6>
                                <p> Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus. </p>
                            </div>
                        </div>
                    </div>
                  *@
                </section>
                <!--primary ends-->
            </div>
            <!--container ends-->
        </div>
        <!--main ends-->
        
        <!--footer starts-->
        <!--footer ends-->
        
    </div>
    <!--wrapper ends-->
    <a href="our-staffs.html" title="Go to Top" class="back-to-top">To Top ↑</a>
    <!--Java Scripts-->
    
</body>
</html>
